html {
    background-color: rgb(226, 226, 226);
}

div.content {
    width: 70%;
    margin: 0 15% 0 15%;
}

div.image-header {
    float: left;
    clear: both;
    margin: 2% 0 3% 0;
}

div.image-header img.logo {
    width: 22%;
    height: auto;
}

div.image-header img.title {
    width: 78%;
    height: auto;
}