html {
    background-color: rgb(226, 226, 226);
}

div.content {
    display: block;
    width: 70%;
    margin: 0 15% 0 15%;
}

div.image-container {
    margin: 4% 0 3% 0;
}

div.image-container img.logo {
    width: 22%;
    height: auto;
}

div.image-container img.title {
    width: 78%;
    height: auto;
}

div.text-container {
    display: inline;
    font-family: "Verdana", sans-serif;
}

div.text-container div.text-left {
    display: inherit;
    width: 50%;
    float: left
}

div.text-container div.text-right {
    display: inherit;
    width: 50%;
    float: right;
}